body {              
  
  color: #f6f3e8;
  background-color: #000000; 
}
Generic.Output {    
  
  color: #070707;
  background-color: #000000; 
}
h1, h2, h3, h4, h5 { 
  
  color: #f6f3e8;
  font-weigth: bold; 
}
Generic.Error {     
  
  color: #ffffff;
  background-color: #ff0000; 
}
Generic.Traceback { 
  
  color: #ffffff;
  background-color: #FF6C60;
  font-weigth: bold; 
}
Comment {           
  
  color: #7C7C7C; 
}
p {                 
  
  color: #A8FF60; 
}
Number {            
  
  color: #FF73FD; 
}
Comment.Preproc {   
  
  color: #96CBFE; 
}
Name.Constant {     
  
  color: #99CC99; 
}
h1, h2, h3 {        
  
  color: #C6C5FE; 
}
Name.Function {     
  
  color: #FFD2A7; 
}
Name.Attribute {    
  
  color: #FFD2A7; 
}
Keyword.Type {      
  
  color: #FFFFB6; 
}
a {                 
  
  color: #6699CC; 
}
Name.Tag {          
  
  color: #6699CC; 
}
Name.Entity {       
  
  color: #E18964; 
}
Operator.Word {     
  
  color: #ffffff; 
}

