---
// Terminal component using modular architecture
// Main orchestrator component that combines all terminal modules
import TerminalCore from './TerminalCore.astro';
import BootSequence from './BootSequence.astro';
import CommandInterface from './CommandInterface.astro';
---

<div id="terminal" class="terminal-wrapper">
  <TerminalCore>
    <BootSequence />
    <CommandInterface />
  </TerminalCore>
</div>

<style>
  .terminal-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
</style>
